[core]
	excludesfile = /Users/moshereubinoff/.gitignore_py_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Moshe Reubinoff
	email = moshe.r@claroty.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
